/* WORLD NEWS */
#worldResult {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

#worldResult img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/3;
    object-fit: cover;
    display: block;
}

#worldResult .world-container,
#worldResult .world-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#worldResult .world-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
}
/* WORLD NEWS END */