:root {
    --primary-color: #F4F4F9;
    --secondary-color: #202124;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 3rem 6rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: 600;
    color: #E63946;
}

p.author-info {
    font-size: 0.8rem;
    color: #666;
    margin: 0;
}

img {
    border-radius: 8px;
}

section img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--secondary-color);
}

section {
    margin-block: 4rem;
}

section .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

section .heading .view-all {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

/* SEARCH */
.search-container {
    position: relative;
}

.search-container input {
    background-color: transparent;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 400px;
    /* font-size: 1rem; */
    width: 200px;
    outline: none;
    /* width: 0;
    opacity: 0;
    pointer-events: none; */
}

.search-container .search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    /* pointer-events: none; */
    cursor: pointer;
}

/* HEADER */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-block: 1rem;
}

.header-top .date-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-top .menu-container {
    display: flex;
    gap: 1rem;
}

.header-top .menu-container .menu-link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-bottom .logo {
    margin-block: 1rem;
}

.header-bottom nav {
    width: 100%;
}

.header-bottom ul.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-block: 1rem;
    list-style: none;
}
/* HEADER END */

/* FOOTER */
footer {
    padding: 2rem 0;
    border-top: 2px solid black;
    margin-top: 7rem;
    color: var(--secondary-color);
}

footer .footer-top img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.8rem 0;
}

footer .footer-bottom .copyright {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer .footer-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

footer .footer-links img {
    border-radius: 0;
}
/* FOOTER END */